/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
}

/* Header */
header {
    background-color: #F79A19;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Blog container using Flexbox */
.blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

/* Blog card */
.blog-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    text-align: center;

    /* Box model spacing */
    margin: 10px;

    transition: 0.3s;
}

/* Typography */
.blog-card h2 {
    color: #2c3e50;
    margin-bottom: 10px;
}

.blog-card p {
    font-size: 15px;
    margin-bottom: 15px;
    color: #555;
}

/* Button */
.blog-card button {
    background-color: #CF4B00;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover effect */
.blog-card:hover {
    transform: scale(1.05);
    border-color: #BF092F;
}

.blog-card button:hover {
    background-color:#DE1A58;
}
/* Tablet view */
@media (max-width: 900px) {
    .blog-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile view */
@media (max-width: 600px) {
    .blog-container {
        grid-template-columns: 1fr;
    }
}
